.mat-toolbar {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    z-index: 5;
  }

  .icone {
    width:30px;
    height:30px;
  }