<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
      <mat-toolbar>  
        <mat-toolbar-row >
          Estórias de Usuário
        </mat-toolbar-row>
    
        <mat-toolbar-row >
            Sobre o Aplicativo
        </mat-toolbar-row>
    
        <mat-toolbar-row>
          Autoria
        </mat-toolbar-row>
    
        <mat-toolbar-row>
          Ajuda
        </mat-toolbar-row>     
      </mat-toolbar>
  </mat-sidenav>

  <mat-sidenav-content>       

  </mat-sidenav-content>

</mat-sidenav-container>
